<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197590438015-2lrdo9hkmbuv889vggpol35png2orm9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197590438015-2lrdo9hkmbuv889vggpol35png2orm9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>197590438015-84oj8si3rlq22pgq73iqsgm8frtp902v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJIWkHAK2-imiPcCUh9TLOhcqzLtrmi4s</string>
	<key>GCM_SENDER_ID</key>
	<string>197590438015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fyp.healthapps</string>
	<key>PROJECT_ID</key>
	<string>fyp-9fbae</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-9fbae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197590438015:ios:2418f4183e884afc9a2f4a</string>
</dict>
</plist>